body {
	background-color: #e9eaeb;
}

.navbar {
	background-color: #f6f7f7;
}

section {
	margin-top: 20px;
	padding-top: 63px;
}

h3 {
	font-size: 24px;
}

main a {
	color: #185394;
	text-decoration: underline;
}

main a:hover {
	color: #214872;
	text-decoration: underline !important;
}

#intro {
	background-color: #edf8ff;
	min-height: 100vh;
	padding-bottom: 30px;
}

#intro img {
	padding: 10%;
}

#intro a {
	font-size: 20px;
}

.btn {
    color: #ffffff;
    background-color: #c94747;
    border-color: #c94747;
  	text-decoration: none;
  	display: block;
  	width: 180px;
}

.btn:hover {
	color: #ffffff;
  background-color: #b24444;
  border-color: #b24444;
}

#skills, #about {
	background-color: #ffffff;
}

#projects {
	background-color: #f6f7f7;
}

.carousel-indicators li {
	background-color: rgba(0, 0, 0, 0.5);
}

.carousel-indicators .active {
	background-color: rgba(0, 0, 0, 0.9);
}

.carousel-caption {
	background-color: rgba(255, 255, 255, 0.7);
	color: #000000;
}

/*Fix contrast error for .sr-only*/
.sr-only {
	color: #000000;
	background-color: #ffffff;
}