/*body, sections, and navbar*/

body {
	background-color: #e9eaeb; /*dark grey*/
}

section {
	margin-top: 20px;
	padding-top: 63px; /*leave room for top navbar*/
}

.navbar {
	background-color: #f6f7f7; /*light grey*/
}

#intro {
	background-color: #edf8ff; /*light blue*/
	min-height: 100vh;
	padding-bottom: 30px;
}

#skills, #about {
	background-color: #ffffff; /*white*/
}

#projects {
	background-color: #f6f7f7; /*light grey*/
}


/*headings and links*/

h3 {
	font-size: 24px;
}

main a {
	color: #185394; /*blue*/
	text-decoration: underline;
}

main a:hover {
	color: #214872; /*darker blue*/
	text-decoration: underline !important;
}

#intro a {
	font-size: 20px;
}


/*image and buttons*/

#intro img {
	padding: 10%;
}

.btn {
    color: #ffffff; /*white*/
    background-color: #c94747; /*red*/
    border-color: #c94747; /*red*/
  	text-decoration: none;
  	display: block;
  	width: 180px;
}

.btn:hover {
	color: #ffffff; /*white*/
  background-color: #b24444; /*darker red*/
  border-color: #b24444; /*darker red*/
}


/*carousel*/

.carousel-indicators li {
	background-color: rgba(0, 0, 0, 0.5); /*black, 50% opacity*/
}

.carousel-indicators .active {
	background-color: rgba(0, 0, 0, 0.9); /*black, 70% opacity*/
}

.carousel-caption {
	background-color: rgba(255, 255, 255, 0.7); /*white, 70% opacity*/
	color: #000000; /*black*/
}